/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.css';
@import '~prismjs/themes/prism-okaidia.css';

.site-layout-background-light {
  background-color: #fff !important;
}


.site-layout-background-dark {
  background-color: #001529 !important;
}

.content-layout-dark {
  background-color: rgb(0, 21, 41, 0.89);
}


.color-light {
  color: #001529 !important;
}

.color-dark {
  color: #fff !important;
}

@media (min-height: 576px) {
  .content-layout {
    margin: 17px 16px 0;
    height: 88vh;
  }

  .pre-response {
    height: 81vh !important;
  }

  .pre-response-50 {
    height: 36vh !important;
  }

  .textarea-input {
    height: 85vh !important;
  }

}

@media (min-height: 768px) {
  .content-layout {
    margin: 17px 16px 0;
    overflow: initial;
    height: 94vh;
  }

  .pre-response {
    height: 85vh !important;
  }

  .pre-response-50 {
    height: 38vh !important;
  }

  .textarea-input {
    height: 89vh !important;
  }

}

@media (min-height: 992px) {
  .content-layout {
    margin: 17px 16px 0;
    overflow: initial;
    height: 94vh;
  }

  .pre-response {
    height: 87vh !important;
  }

  .pre-response-50 {
    height: 41vh !important;
  }

  .textarea-input {
    height: 90vh !important;
  }
}

@media (min-height: 1200px) {

  .content-layout {
    margin: 17px 16px 0;
    overflow: initial;
    height: 94vh;
  }

  .pre-response {
    height: 87vh !important;
  }

  .pre-response-50 {
    height: 41vh !important;
  }

  .textarea-input {
    height: 90vh !important;
  }
}

@media (min-height: 1600px) {

  .content-layout {
    margin: 17px 16px 0;
    overflow: initial;
    height: 94vh;
  }

  .pre-response {
    height: 80vh !important;
  }

  .pre-response-50 {
    height: 40vh !important;
  }

  .textarea-input {
    height: 90vh !important;
  }
}
