/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @import '~antd/dist/antd.css';
 @import '~prismjs/themes/prism-okaidia.css';

.site-layout-background-light {
  background-color: #fff;
}


.site-layout-background-dark {
  background-color: #001529;
}

.color-light{
  color: #001529 !important;
}

.color-dark{
  color: #fff !important;
}
